.groupIcon {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    z-index: 900;
    pointer-events: none;
    opacity: 0.6;
}