# Rust
target/
Cargo.lock
**/*.rs.bk
**/output/

# Node
node_modules/
build/
.env

# Solidity
artifacts/
coverage/
coverage.json

# IDE
.idea/
*.swp
*.swo

# Misc
.DS_Store
*.log

#Cursor

./your_proof
