/* Header.module.css */
.logo-container {
    position: fixed;
    top: 40px;
    left: 40px;
    width: 334px;
    height: 29.1px;
  }
  
  .logo-image {
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
    height: 29.1px;
    width: 334px;
  }
  
  .logo-image:hover {
    opacity: 0.8;
  }
  
  .title-container {
    position: absolute;
    z-index: 2;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    width: 736px;
  }
  
  .main-title {
    font-size: clamp(1.5rem, 5vw, 3rem);
    text-shadow: 0 1px 0 #a17510, 0 2px 0 #a17510;
    color: yellow;
    font-size: 96px;
    line-height: 60px;
    margin-top: -60px;
  }
  
  .subtitle {
    font-size: clamp(0.8rem, 3vw, 1.5rem);
    color: white;
    margin: 0;
    font-size: 96px;
    line-height: 60px;
    text-shadow: 0 1px 0 #a17510, 0 2px 0 #a17510;
  }
  